<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{banhang/layout/layout :: banhang(~{::title},~{::main})}">

<head>
	<meta charset="utf-8">
	<title>Timups | Tin Tức</title>
</head>
<body>
<main style="background-color: white;">

	 <!--================Blog Categorie Area =================-->
    <section class="blog_categorie_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img th:src="@{images/sd/2.png}" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="blog-details.html">
                                    <h5>Cộng Đồng Đồng Hồ Thời Trang</h5>
                                </a>
                                <div class="border_line"></div>
                                <p>Sang trọng và thời trang</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img th:src="@{images/sd/1.jpg}" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="blog-details.html">
                                    <h5>Cộng Đồng Đồng Hồ Thông Minh</h5>
                                </a>
                                <div class="border_line"></div>
                                <p>Trẻ trung và năng động</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="categories_post">
                        <img th:src="@{images/sd/4.png}" alt="post">
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="blog-details.html">
                                    <h5>Cộng Đồng Đồng Hồ Cơ</h5>
                                </a>
                                <div class="border_line"></div>
                                <p>Cổ điển và mạnh mẽ</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Categorie Area =================-->

    <!--================Blog Area =================-->
    <section class="blog_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog_left_sidebar">
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                        <a href="#">Đồng hồ,</a>
                                        <a class="active" href="#">Công nghệ,</a>
                                        <a href="#">Apple watch,</a>
                                        <a href="#">Phong cách</a>
                                    </div>
                                    <ul class="blog_meta list"style="list-style:none;">
                                        <li><a href="#">QuocHung<i class="fa fa-user text-muted"></i></a></li>
                                        <li><a href="#">12 Dec, 2023<i class="fa fa-calendar text-muted"></i></a></li>
                                        <li><a href="#">1.2M Views<i class="fa fa-folder text-muted"></i></a></li>
                                        <li><a href="#">06 Comments<i class="fa fa-comment text-muted"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img th:src="@{images/apple-watch-series7.jpg}" alt="">
                                    <div class="blog_details">
                                        <a href="single-blog.html">
                                            <h2>SỰ KIỆN RA MẮT APPLE WATCH SERIES 7 - ĐÁNH GIÁ CHI TIẾT</h2>
                                        </a>
                                        <p>Apple Watch Series 7 là dòng đồng hồ thông minh hiện đại nhất của Apple tính đến trước tháng 9/2022. Đánh giá Apple Watch Series 7, smartwatch hàng đầu thế giới.</p>
                                        <a th:href="@{/blog}" class="white_bg_btn">Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                         <a href="#">Đồng hồ,</a>
                                        <a class="active" href="#">Công nghệ,</a>
                                        <a href="#">Wonlex,</a>
                                        <a href="#">Trẻ em</a>
                                    </div>
                                    <ul class="blog_meta list" style="list-style:none;">
                                        <li><a href="#">VanVien<i class="fa fa-user text-muted"></i></a></li>
                                        <li><a href="#">11 Dec, 2023<i class="fa fa-calendar text-muted"></i></a></li>
                                        <li><a href="#">5.2M Views<i class="fa fa-folder text-muted"></i></a></li>
                                        <li><a href="#">16 Comments<i class="fa fa-comment text-muted"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img th:src="@{images/danh-gia-wonlex-kt1723.png}" alt="">
                                    <div class="blog_details">
                                        <a href="single-blog.html">
                                            <h2>ĐÁNH GIÁ WONLEX KT17, ĐỒNG HỒ THÔNG MINH CHO BÉ TỐT NHẤT 2023</h2>
                                        </a>
                                        <p>Wonlex KT17 là dòng đồng hồ thông minh và hiện đại cho trẻ em được đánh giá là một trong những chiếc đồng hồ tốt nhất thời điểm hiện tại!</p>
                                        <a th:href="@{/blog}" class="white_bg_btn">Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                         <a href="#">Đồng hồ,</a>
                                        <a class="active" href="#">Công nghệ,</a>
                                        <a href="#">Wonlex,</a>
                                        <a href="#">Trẻ em</a>
                                    </div>
                                    <ul class="blog_meta list" style="list-style:none;">
                                        <li><a href="#">QuocVinh<i class="fa fa-user text-muted"></i></a></li>
                                        <li><a href="#">22 Dec, 2023<i class="fa fa-calendar text-muted"></i></a></li>
                                        <li><a href="#">9.2M Views<i class="fa fa-folder text-muted"></i></a></li>
                                        <li><a href="#">96 Comments<i class="fa fa-comment text-muted"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img th:src="@{images/danh-gia-watch-s8-ultra-lte15.png}" alt="">
                                    <div class="blog_details">
                                        <a href="single-blog.html">
                                            <h2>ĐÁNH GIÁ WATCH S8 ULTRA LTE, ĐỒNG HỒ THÔNG MINH TỐT NHẤT</h2>
                                        </a>
                                        <p>WATCH S8 ULTRA LTE là một trong những sản phẩm vừa mới ra mắt trong năm nay , với những ưu điểm về thiết kế và các tính năng hiện đại sản phẩm này trong thời gian ngắn đã nhanh chóng có được vị trí cao trong lòng người yêu thích</p>
                                        <a th:href="@{/blog}" class="white_bg_btn">Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                         <a href="#">Band,</a>
                                        <a class="active" href="#">Công nghệ,</a>
                                        <a href="#">XiaoMi,</a>
                                        <a href="#">thời trang</a>
                                    </div>
                                    <ul class="blog_meta list" style="list-style:none;">
                                        <li><a href="#">KhaQuy<i class="fa fa-user text-muted"></i></a></li>
                                        <li><a href="#">12 Dec, 2023<i class="fa fa-calendar text-muted"></i></a></li>
                                        <li><a href="#">8.2M Views<i class="fa fa-folder text-muted"></i></a></li>
                                        <li><a href="#">99 Comments<i class="fa fa-comment text-muted"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img  th:src="@{/images/dong-ho-thong-minh-xiaomi-mi-band-7-4.png}" alt="">
                                    <div class="blog_details">
                                        <a href="single-blog.html">
                                            <h2>Đánh giá chi tiết XiaoMi Band 7 - vòng đeo tay thông minh</h2>
                                        </a>
                                        <p>Vòng đeo tay XiaoMi Band 7 là một trong những vòng đeo tay thông minh mới nhất của nhà XiaoMi, với những tính năng hiện đại và theo dõi sức khỏe</p>
                                        <a th:href="@{/blog}" class="white_bg_btn">Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article class="row blog_item">
                            <div class="col-md-3">
                                <div class="blog_info text-right">
                                    <div class="post_tag">
                                          <a href="#">Đồng hồ,</a>
                                        <a class="active" href="#">Công nghệ,</a>
                                        <a href="#">Smart Watch,</a>
                                        <a href="#">thời trang</a>
                                    </div>
                                    <ul class="blog_meta list"  style="list-style:none;">
                                        <li><a href="#">MinhHai<i class="fa fa-user text-muted"></i></a></li>
                                        <li><a href="#">12 Dec, 2023<i class="fa fa-calendar text-muted"></i></a></li>
                                        <li><a href="#">1.2M Views<i class="fa fa-folder text-muted"></i></a></li>
                                        <li><a href="#">36 Comments<i class="fa fa-comment text-muted"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="blog_post">
                                    <img th:src="@{/images/danh-gia-h10-pro17.png}" alt="">
                                    <div class="blog_details">
                                        <a href="single-blog.html">
                                            <h2>Đánh giá chi tiết H10 Pro - Chiếc đồng hồ thông minh giá rẻ đáng mua trong thời điểm hiện tại</h2>
                                        </a>
                                        <p>H10 - Pro là một trong những chiếc đồng hồ thông minh giá rẻ phù hợp với học sinh , sinh viên và đáng mua nhất ở thời điểm hiện tại</p>
                                        <a th:href="@{/blog}" class="white_bg_btn">Xem thêm</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">
                                            <span class=""><</span>
                                        </span>
                                    </a>
                                </li>
                                <li class="page-item"><a href="#" class="page-link">01</a></li>
                                <li class="page-item active"><a href="#" class="page-link">02</a></li>
                                <li class="page-item"><a href="#" class="page-link">03</a></li>
                                <li class="page-item"><a href="#" class="page-link">04</a></li>
                                <li class="page-item"><a href="#" class="page-link">09</a></li>
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <span aria-hidden="true">
                                            <span class="">></span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget search_widget">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Tìm kiếm" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tìm kiếm'">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
                                </span>
                            </div><!-- /input-group -->
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget author_widget">
                            <img class="author_img rounded-circle" th:src="@{/images/c1.jpg}" alt="">
                            <h4>Charlie Barber</h4>
                            <p>Senior blog writer</p>
                            <div class="social_icon">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-github"></i></a>
                                <a href="#"><i class="fab fa-behance"></i></a>
                            </div>
                            <p>Mọi thắc mắc về bài viết xin vui lòng liên hệ góp ý với chúng tôi thông qua các phương tiện truyền thông và fanpage , chúng tôi sẽ tiếp nhận đóng góp và giải quyết kịp thời.</p>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget popular_post_widget">
                            <h3 class="widget_title">Bài viết gần đây</h3>
                            <div class="media post_item">
                                <img th:src="@{/images/popular-post/1.png}" alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html">
                                        <h3>Đánh giá Wonlex KT 17</h3>
                                    </a>
                                    <p>02 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img th:src="@{/images/popular-post/2.png}" alt="post" >
                                <div class="media-body">
                                    <a href="blog-details.html">
                                        <h3>Watch S8 Ultra Lte</h3>
                                    </a>
                                    <p>02 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img  th:src="@{/images/popular-post/3.png}"  alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html">
                                        <h3>Đánh giá Apple watch series 3 và Apple watch series 5</h3>
                                    </a>
                                    <p>03 Hours ago</p>
                                </div>
                            </div>
                            <div class="media post_item">
                                <img  th:src="@{/images/popular-post/1.png}"  alt="post">
                                <div class="media-body">
                                    <a href="blog-details.html">
                                        <h3>Đánh giá Xiaomi Band 7</h3>
                                    </a>
                                    <p>01 Hours ago</p>
                                </div>
                            </div>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget ads_widget">
                            <a href="#"><img class="img-fluid" src="img/blog/add.jpg" alt=""></a>
                            <div class="br"></div>
                        </aside>
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Post Catgories</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Technology</p>
                                        <p>37</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Lifestyle</p>
                                        <p>24</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Fashion</p>
                                        <p>59</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Art</p>
                                        <p>29</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Food</p>
                                        <p>15</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Architecture</p>
                                        <p>09</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="d-flex justify-content-between">
                                        <p>Adventure</p>
                                        <p>44</p>
                                    </a>
                                </li>
                            </ul>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget newsletter_widget">
                            <h4 class="widget_title">Newsletter</h4>
                            <p>
                               Bạn có thể thêm Email của mình tại đây để theo dõi những bài viết mới nhất từ chúng tôi.
                            </p>
                            <div class="form-group d-flex flex-row">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                    </div>
                                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter email"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email'">
                                </div>
                                <a href="#" class="bbtns">Subcribe</a>
                            </div>
                            <p class="text-bottom">You can unsubscribe at any time</p>
                            <div class="br"></div>
                        </aside>
                        <aside class="single-sidebar-widget tag_cloud_widget">
                            <h4 class="widget_title">Tag Clouds</h4>
                            <ul class="list">
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Fashion</a></li>
                                <li><a href="#">Architecture</a></li>
                                <li><a href="#">Fashion</a></li>
                                <li><a href="#">Food</a></li>
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Lifestyle</a></li>
                                <li><a href="#">Art</a></li>
                                <li><a href="#">Adventure</a></li>
                                <li><a href="#">Food</a></li>
                                <li><a href="#">Lifestyle</a></li>
                                <li><a href="#">Adventure</a></li>
                            </ul>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================Blog Area =================-->
	
    
</main>
</body>
</html>